@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
}

#fullPageFlexBox {
  display: flex;
  background-color: #121212;
}

/* CONTAINER DU CONTENU */

#allContentBox {
  display: flex;
}

/* SIDEBAR PRÉSENTATION */

.sideBarHeader {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  background-color: #282828;
  justify-content: space-between;
  border-right: #757a7f 2px solid;
  position: fixed;
  top: 0;
  width: 15rem;
}

#boxFullnameAndStatus {
  border-bottom: #757a7f 2px solid;
  padding-bottom: 1rem;
}

#boxFullnameAndStatus p:first-child {
  color: #d4aefe;
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: 15px;
}

#boxFullnameAndStatus p:nth-child(2) {
  color: #757a7f;
  font-family: "Space Mono", serif;
  font-size: 13px;
}

#boxFullnameAndStatus span {
  color: #757a7f;
  font-family: "Space Mono", serif;
  font-size: 13px;
}

/* SIDEBAR LIENS */

.leftBoxAnchors {
  display: flex;
  height: 550px;
}

.leftBoxAnchors ul li {
  list-style: none;
  background-color: #282828;
  width: 11rem;
  padding: 10px 0px;
  margin: 5px;
  border: #757a7f 2px solid;
  border-radius: 1cap;
}

.leftBoxAnchors ul li:hover {
  background-color: #3f3f3f;
}

.leftBoxAnchors ul li a {
  margin-left: 15px;
  display: flex;
  text-decoration: none;
  color: #d4aefe;
  font-family: "Mulish", serif;
  font-size: 13px;
}

.leftBoxAnchors ul li a img {
  margin-right: 10px;
}

/* FOOTER DRAPEAUX */

#changeLanguage {
  display: flex;
}

/* ALL CONTENT BOX */

.allContentBox {
  margin: 4rem 8rem;
  padding-left: 14rem;
}

/* PARAGRAPHE PRÉSENTATION */

#presentationBox {
  padding-bottom: 2rem;
  border-bottom: #717171 2px solid;
}

#presentationBox p:first-child {
  color: #717171;
  font-family: "Space Mono", serif;
  font-weight: 800;
}

#presentationBox h1 {
  color: #d4aefe;
  font-family: "Mulish", serif;
  font-weight: 800;
  font-size: 2rem;
}

#presentationBox h2 {
  color: #4cc29e;
  font-family: "Mulish", serif;
  font-weight: 800;
  font-size: 1rem;
  margin-top: 1rem;
}

#presentationBox p:last-child {
  color: #717171;
  font-family: "Space Mono", serif;
  font-size: 13px;
}

/* DERNIERS PROJETS */

#projects {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
}

#projects ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

#projects ul li {
  background-color: #282828;
  border-radius: 1cap;
  border: #757a7f 2px solid;
  margin: 20px 0px;
  height: 10rem;
  padding: 5px;
}

.titleAndParagraph h3 {
  font-family: "Mulish", serif;
  color: #d4aefe;
  font-weight: 800;
}

.boxProject {
  margin: 10px 0px 10px 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "previewProject previewProject previewProject"
    "titleAndParagraph titleAndParagraph seeMoreButton";
}

.boxProject a {
  grid-area: seeMoreButton;
  margin-top: auto;
  margin-left: auto;
  margin-right: 10px;
  padding: 1rem;
}

.titleAndParagraph {
  grid-area: titleAndParagraph;
  color: white;
}

.preview {
  grid-area: previewProject;
  height: 5rem;
}

/* #projects {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
}

#projects ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

#projects ul li {
  background-color: #282828;
  border-radius: 1cap;
  border: #757a7f 2px solid;
  margin: 20px 0px;
  height: 9rem;
}

#projects h2 {
  display: flex;
  font-family: "Mulish", serif;
  color: #d4aefe;
  font-weight: 800;
}

#projects a {
  float: inline-end;
  text-decoration: none;
  color: white;
  background-color: #4cc29e;
  padding: 7px;
  border-radius: 1cap;
  border: #757a7f 2px solid;
  font-family: "Mulish", serif;
  font-size: 12px;
  margin-right: 10px;
}

.boxProject {
  margin: 10px 0px 10px 10px;
}

.boxProject h3 {
  font-family: "Mulish", serif;
  color: #d4aefe;
  font-size: 1rem;
}

.boxProject p {
  font-family: "Space Mono", serif;
  color: #717171;
  font-size: 12px;
} */
