@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
}

#fullPageFlexBox {
  display: flex;
}

/* CONTAINER DU CONTENU */

#allContentBox {
  display: flex;
}

/* SIDEBAR PRÉSENTATION */

.sideBarHeader {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  background-color: #282828;
  justify-content: space-between;
  border-right: #757a7f 2px solid;
}

#boxFullnameAndStatus {
  border-bottom: #757a7f 2px solid;
  padding-bottom: 1rem;
}

#boxFullnameAndStatus p:first-child {
  color: #d4aefe;
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: 15px;
}

#boxFullnameAndStatus p:nth-child(2) {
  color: #757a7f;
  font-family: "Space Mono", serif;
  font-size: 13px;
}

#boxFullnameAndStatus span {
  color: #757a7f;
  font-family: "Space Mono", serif;
  font-size: 13px;
}

/* SIDEBAR LIENS */

.leftBoxAnchors {
  display: flex;
  height: 550px;
}

.leftBoxAnchors ul li {
  list-style: none;
  background-color: #282828;
  width: 11rem;
  padding: 10px 0px;
  margin: 5px;
  border: #757a7f 2px solid;
  border-radius: 1cap;
}

.leftBoxAnchors ul li:hover {
  background-color: #3f3f3f;
}

.leftBoxAnchors ul li a {
  margin-left: 15px;
  display: flex;
  text-decoration: none;
  color: #d4aefe;
  font-family: "Mulish", serif;
  font-size: 13px;
}

.leftBoxAnchors ul li a img {
  margin-right: 10px;;
}

/* FOOTER DRAPEAUX */

#changeLanguage {
  display: flex;
}

/* ALL CONTENT BOX */

.allContentBox {
  margin: 4rem 8rem;
}

/* PARAGRAPHE PRÉSENTATION */

#presentationBox {
  padding-bottom: 2rem;
  border-bottom: #717171 2px solid;
}

#presentationBox p:first-child {
  color: #717171;
  font-family: "Space Mono", serif;
  font-weight: 800;
}

#presentationBox h1 {
  color: #d4aefe;
  font-family: "Mulish", serif;
  font-weight: 800;
  font-size: 2rem;
}

#presentationBox h2 {
  color: #4cc29e;
  font-family: "Mulish", serif;
  font-weight: 800;
  font-size: 1rem;
  margin-top: 1rem;
}

#presentationBox p:last-child {
  color: #717171;
  font-family: "Space Mono", serif;
  font-size: 13px;
}

/* DERNIERS PROJETS */

#projects {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
}

#projects ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  background-color: #282828;
}

#projects h2 {
  display: flex;
  font-family: "Mulish", serif;
  color: #d4aefe;
  font-weight: 800;
  margin-bottom: 1rem;
}

.boxProject {
  margin: 10px 0px;
}

.boxProject h3 {
  font-family: "Mulish", serif;
  color: #d4aefe;
  font-size: 1rem;
}


/* CONTAINER GAUCHE */

/* .leftBox {
    background-color: #282828;
    color: #282828;
    display: flex;
    flex-direction: column;
}

.leftBoxAnchors a {
    text-decoration: none;
    flex-direction: column;
}

#boxFullnameAndStatus p:first-child {
    color: #d4aefe;
    font-size: 20px;
    font-family: "Mulish", serif;
}

#boxFullnameAndStatus p:nth-child(2), span {
    color: #757A7F;
} */
